
.form {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  background-image: url("../../../extras/dog-form.png");
  background-blend-mode: multiply;
  background-size: cover;
}

label {
  margin-bottom: 10px; 
  color: #FF5C8D; 
  font-size: 18px; 
  font-weight: normal; 
}

.inlineInputs {
  display: flex;
  justify-content: spaccoe-between;
  gap: 30px; 
}

.inlineInputs label {
  flex: 1;
  margin-right: 10px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #FF5C8D; /* Cambia el color del borde inferior */
  outline: none;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  font-weight: normal; /* Reduce el grosor de fuente de los campos de entrada */
  font-size: 16px; /* Aumenta el tamaño de fuente de los campos de entrada */
}

.submitBtn {
  background-color: #FF5C8D; /* Cambia el color de fondo del botón */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold; /* Aumenta el grosor de fuente del botón */
}

.submitBtn:hover {
  background-color: #FF2C63; /* Cambia el color de fondo al pasar el mouse */
}

.submitBtn[disabled] {
  background-color: gray;
  cursor: not-allowed;
}

.submitDisabled {
  color: red;
  font-weight: normal;
}

.container {
  margin-top: 30px; /* Reduce el margen superior del contenedor */
  border-radius: 0;
}

.addTemp {
  border: none;
  background-color: #FF5C8D;
  color: #fff;
  border-radius: 6px;
  padding: 0.3rem;
  margin-top: 5px;
}

.addTemp:hover {
  background-color: #FF2C63;
}

.select {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  background: #ffffff;
  font-weight: normal; 
  font-size: 14px; 
  color: #FF5C8D; 
}

.select:focus {
  border-color: #FF5C8D;
}

.select option {
  padding: 5px;
  color: black;
}

.error {
  color: red;
  font-size: 14px; /* Aumenta el tamaño de fuente del mensaje de error */
}
